---
import { readOne, readAll } from "../../lib/markdoc/read";
import { chapter } from "../../lib/markdoc/frontmatter.schema";
import Renderer from "../../components/Renderer.astro";
import BlogPostMeta from "../../components/BlogPostMeta.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { SITE_URL } from "../../config";

export async function getStaticPaths() {
  const posts = await readAll({
    directory: "chapters-es",
    frontmatterSchema: chapter,
  });

  // we don't want to generate pages for draft posts
  const filteredPosts = posts.filter((p) => p.frontmatter.wip !== true);

  return filteredPosts.map((post) => {
    return { params: { slug: post.slug } };
  });
}

const { slug } = Astro.params;
if (typeof slug !== "string") {
  throw Error(`slug should be string. Received: ${slug}`);
}

const chapters = await readAll({
  directory: "chapters-es",
  frontmatterSchema: chapter,
});

const currentChapter = chapters.find((chapter) => chapter.slug === slug);

if (!currentChapter) {
  throw Error(`Chapter not found: ${slug}`);
}

const { content, frontmatter } = currentChapter;

const ogImageAbsoluteUrl = frontmatter.ogImagePath
  ? new URL(frontmatter.ogImagePath, SITE_URL).toString()
  : undefined;

const previousNotWipChapter = chapters
  .sort((a, b) => a.frontmatter.chapter - b.frontmatter.chapter)
  .slice(0, chapters.indexOf(currentChapter))
  .reverse()
  .find((chapter) => chapter.frontmatter.wip !== true);

const nextNotWipChapter = chapters
  .sort((a, b) => a.frontmatter.chapter - b.frontmatter.chapter)
  .slice(chapters.indexOf(currentChapter) + 1)
  .find((chapter) => chapter.frontmatter.wip !== true);
---

<ContentLayout title={frontmatter.title}>
  <BlogPostMeta
    title={frontmatter.title}
    description={frontmatter.description}
    pagePath={`/capitulos/${slug}`}
    ogImageAbsoluteUrl={ogImageAbsoluteUrl}
    slot="meta"
  />
  <Fragment slot="content">
    <Renderer content={content} />
    <div class="grid grid-cols-1 md:grid-cols-2 md:auto-rows-fr gap-5 mt-12">
      <div class="col-span-1 md:order-last">
        {
          nextNotWipChapter && (
            <a
              href={`/capitulos/${nextNotWipChapter.slug}`}
              class="unset border-2 border-blue-300 rounded-lg p-5 h-full flex items-center justify-between gap-3"
            >
              {nextNotWipChapter.frontmatter.title}
              <i class="fa-solid fa-chevron-right" />
            </a>
          )
        }
      </div>
      <div class="col-span-1">
        {
          previousNotWipChapter && (
            <a
              href={`/capitulos/${previousNotWipChapter.slug}`}
              class="unset border-2 border-blue-300 rounded-lg p-5 h-full flex items-center justify-between gap-3"
            >
              <i class="fa-solid fa-chevron-left" />
              {previousNotWipChapter.frontmatter.title}
            </a>
          )
        }
      </div>
    </div>
  </Fragment>
</ContentLayout>
